<main class="parent">
    <section class="panel-izquierdo">
        <app-panel-left/>
    </section>
    <section class="panel-superior">
        <app-panel-top/>
    </section>
    <section class="panel-central">
        <router-outlet/>
    </section>
    <footer class="panel-footer">
        <span>Sistema Creado por <a href="https://www.prymusoft.com" target="_blank" rel="noopener noreferrer">Prymusoft</a></span>
        <span>&copy; 2025 Todos los derechos reservados</span>
    </footer>
</main>